---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import AboutDr from '../components/AboutDr.astro';
import QuienesSomos from '../components/QuienesSomos.astro';
import ServicesDetail from '../components/ServicesDetail.astro';
import Agenda from '../components/Agenda.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <AboutDr />
    <QuienesSomos />
    <ServicesDetail />
    <Agenda />
  </main>
  <Footer />
</Layout>
